<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureSubscriptionId" value="2dd8cb59-ed12-4755-a2bc-356c212fbafc" />
    <add key="AzureTenantId" value="03987603-0fc0-4103-bd94-cdffbefb2226" />
    <add key="AzureClientId" value="031ba383-dc20-4bf0-a78d-6d89c7de2d24" />
    <add key="AzureClientSecret" value="64x6MsdDBmBHX1nV0g5sfej6z3rMCiUkgfVcZ42L000=" />
    <add key="vaultName" value="kvrestdemo2020" />
  </appSettings>
</configuration>